.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.slotButton {
  height: 100px;
  width: 100px;
  background-color: white;
  border: 3px solid;
  font-size: 50px;
  margin: 0 0 0 0;
  font-weight: bold;
}

.gridDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  background-color: red;
  padding: 10px;
}

.gridRow {
  flex: 1;
}

.otherButtonsDiv {
  display: flex;
  background-color: red;
  border-radius: 0px 0px 20px 20px;
}

.otherButtons {
  flex: 1;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 0px 0px 0px 0px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
.otherButtons:hover {
  padding: 20px;
  font-weight: bold;
}

.blueFont {
  color: blue;
  border-color: blue;
}

.redFont {
  color: red;
  border-color: red;
}